@use "../abstract" as cv;

$container-width-break: cv.$container-width-break + px;

.container {
  grid-template-columns: auto 1fr;
  column-gap: cv.space("s-m");

  @include cv.container-breakpoint {
    display: grid;
  }
}

.container section {
  display: contents;
}

.container h2 {
  grid-column: span 2;
  margin-block-end: cv.space("m-l");
  padding-block: cv.space("3xs");
}

.container ul {
  display: contents;
}

.container li {
  grid-column: span 2;

  &:last-child {
    margin-block-end: cv.space("m-l");
  }
}
