---
import "../styles/global.scss";
import container from "../styles/components/body-container.module.scss";

import Sidebar from "../components/Sidebar.astro";
import MainContent from "../components/MainContent.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../components/Favicon.astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <Favicon />
    <link rel='stylesheet' href='https://use.typekit.net/mlh3lgd.css' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class={container.container}>
    <Sidebar />
    <div class={container.colRight}>
      <MainContent />
      <Footer />
    </div>
  </body>
</html>
