---
import styles from "../styles/components/footer.module.scss";
---

<footer class={styles.footer}>
  Built with <a href='https://utopia.fyi'>Utopia</a> and <a
    href='https://astro.build'>Astro</a
  >. Source available on <a href='https://github.com/kurabirko/utkubirkan.com'
    >GitHub</a
  >.
</footer>
