---
import container from "../styles/components/body-container.module.scss";
import sidebar from "../styles/components/sidebar.module.scss";
---

<header class:list={[sidebar.sidebar, container.colLeft]}>
  <div class={sidebar.row1}>
    <h1 lang='tr'>Utku Birkan</h1>
    <p>Software Engineer at Siemens</p>
  </div>
  <div class={sidebar.row2}>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut dolor
      non ipsum ornare hendrerit et ac turpis. Integer volutpat tellus eu est
      varius, sed lobortis felis mollis. In tincidunt congue est non maximus. Ut
      laoreet tellus eu varius euismod. Vivamus non ligula a libero sollicitudin
      semper eget vitae orci. Vivamus commodo, ligula a placerat posuere, quam
      magna suscipit dui, consectetur fermentum ligula nisl non enim. Vivamus
      quis odio sit amet nisl facilisis fermentum in ut arcu. Phasellus blandit
      eget metus id sodales. Aenean quis congue felis, id varius tellus. Nullam
      ultrices lacinia mi.
    </p>
    <div class={sidebar.icons}>external link icons</div>
  </div>
</header>
